.login-container{
    position: absolute;
    /* border: 1px solid black; */
    width: 33%;
    margin-left: 31%;
    margin-top: 5%;
    background-color: rgb(55, 55, 55);
    padding: 2%;
    border-radius: 20px;
}

.login-container h1{
    text-align: center;
    font-style: italic;
    color: red;
    font-size: 36px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1.5px solid black;
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    float: left;
    width: 80%;
    margin: 0 10px;
    color: white;
}

.textbox input::placeholder {
    color: gray;
}

.btn{
    width: 100%;
    background: none;
    background-color: lightgray;
    border: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin: 15px 0;
    border-radius: 5px;
}

.btn:hover{
    background-color: black;
    transition: 0.5s;
    color: white;
}

.btn-reg {
    font-size: 22;
    color: white;
}

.btn-reg a {
    color:red;
    text-decoration: none;
}

.btn-reg a:hover {
    transition: 0.5s;
    color: tomato;
    text-decoration: underline;
}

.btn-reg p{
    text-align: center;
} 