.movie-page-container{
    display: flex;
    border-bottom: 1px solid white;
    padding: 1%;
    width: 100%;
}

.movie-page-photo{
    border: 1px solid white;
    width: 33%;
    text-align: center;
    margin-left: 5%;
    height: 300px;
}

.movie-page-info{
    margin: 1%;
}

.movie-page-cinemas-container{
    text-align: center;
}
