.reservation-page{
    width: 100%;
}

.reservation-page h1{
    text-align: center;
    color: red;
}

.reservation-movie-choice{
    width: 100%;
}

.reservation-select{
    width: 33%;
    padding: 1%;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid red;
    margin: 1% 33%;
}

.select-option{
    background-color: red;
}

.calendar{
    margin-left: 33%;
    width: 31.1%;
    padding: 1%;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 1px solid red;
}

.hour-choice{
    background-color: lightgray;
    color: black;
    border: none;
    margin: 1%;
    text-align: center;
    width: 10%;
    font-size: 18px;
    cursor: pointer;
    padding: 1%;
    border-radius: 15px;
}

.hour-choice-container{
   width: 100%;
   margin: 0 30%;
}

.reservation-btn{
    width: 33%;
    margin-left: 34%;
}

.selected{
    background-color: red;
    border: 1px solid white;
}