.movies{
    display: flex;
    width: 80%;
    margin: 0 10%;
    margin-bottom: 20px;
    margin-top: 20px;
    /* border: 1px solid black; */
    flex-wrap: wrap;    
    flex-direction: row;
  
}
