.edit-profile-container {
    width: 120vh;
    margin-right: 10%;
    padding: 40px;
    margin-top: 10px;
    height: 70vh;
}

.edit-field {
    display: flex;
    
}

.edit-field h1 {
    padding: 1%;
    width: 50%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 18px;

}

.edit-field-input {
    border: none;
    border-bottom: 1px solid gray;
    width: 50%;
    padding: 1%;
    margin-right: 5%;
    background-color: transparent;
    color: white;
}

.edit-profile-submit {
    background-color: lightgray;
    border: none;
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 82%;
    margin-top: 3%;
    transition: 0.2s;
}

.edit-profile-submit:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.edit-profile-header{
    color: red;
    padding-bottom: 5%;
}