.reservation-box-headers{
    color: red;
    width: 100%;
    font-weight: bold;
}

.amount{
    text-align: right;
}

.reservation-container{
    width: 120vh;
    padding: 40px;
    height: 70vh;
}

.reservation-box-item td{
    border-bottom: 1px solid rgb(58, 58, 58);
}

.reservation-container a{
    text-decoration: none;
    color: red;
}

.reservation-container a:hover{
    text-decoration: underline;
}

.reservation-box{
    height: 55vh;
    overflow-y: scroll;
}